html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, #214C61, #61214C);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
  display: flex;
  align-items: center;
  height: 100%;
}

.looking {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  color: lavender;
  background: #41292C; /*#2E0F15*/
  display: table;
  font-size: 22px;
  font-family: OCR A Std, monospace;
  border-radius: 15px 50px;
}

.seeing {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00008b;
  opacity: 20%;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  background-image: url("https://tenor.com/view/rain-transparent-gif-11002658");
}